// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
* {
	margin: 0;
	padding: 0;
	color: $fontColor;
}

body {
	background-color: $background;
}

.main-nav {
	height: 200px;
	border-bottom: 1px solid $divider;
	padding: 0;
	justify-content: space-between;

	& > div:first-child {
		border-left: 1px solid $divider;
	}
	& > div:last-child {
		border-right: 1px solid $divider;
	}
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.icon-wrapper {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: $defaultTransition;
	&:hover {
		cursor: pointer;
		background-color: $backgroundHover;
	}
	.fa {
		color: $primary;
		font-size: 2rem;
	}
}

#top-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	li {
		min-width: 30%;
		text-align: center;
		font-size: 2rem;
		a {
			color: $fontColor;
			&:hover {
				color: $fontColorHover;
			}
		}
	}
}

.wrapper,
.sidebar {
	padding: 0;
}

.content {
	text-align: right;
	border-bottom: 1px solid $divider;
	& > div:first-child {
		border-left: 1px solid $divider;
	}
	& > div:last-child {
		border-right: 1px solid $divider;
	}
}

.content-area {
	padding: 30px 60px;
}

.widget-area {
	padding: 15px 30px;
	ul {
		list-style: none;
	}
}
